<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204016152056-9ibgonimf80bu559fhmqtpgd8a7ohfqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204016152056-9ibgonimf80bu559fhmqtpgd8a7ohfqi</string>
	<key>API_KEY</key>
	<string>AIzaSyCY2cs9y76gF6q22ITe2XfoSTmfiPiEUVw</string>
	<key>GCM_SENDER_ID</key>
	<string>204016152056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.polgar.BubblePopFinal</string>
	<key>PROJECT_ID</key>
	<string>bubblepop-cfff6</string>
	<key>STORAGE_BUCKET</key>
	<string>bubblepop-cfff6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:204016152056:ios:f92a54f70ee84f95e0ba0d</string>
	<key>DATABASE_URL</key>
	<string>https://bubblepop-cfff6-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
